.Nav
{
    display: flex;
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.Nav ul{

        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 20px;
        list-style: none;

}


.Nav ul li:hover{
    transform: scale(0.98);
}


@media screen and (max-width: 768px) {
 .Nav
 {
    flex-direction: column;
    row-gap: 20px;
 }   
}